<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.sourceforge.kga" android:versionCode="1" android:versionName="1.0">
    <supports-screens android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21"/>
    <application android:label="Kitchen Garden Aid" android:name="android.support.multidex.MultiDexApplication" android:debuggable="true">
        <activity android:name="javafxports.android.FXActivity" android:label="KitchenGardenAid" android:configChanges="orientation|screenSize">
            <meta-data android:name="launcher.class" android:value="javafxports.android.DalvikLauncher"/>
            <meta-data android:name="main.class" android:value="org.sourceforge.kga.KitchenGardenAid"/>
            <meta-data android:name="debug.port" android:value="0"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
